body {
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.main {
    background-color: rgb(8, 56, 56);
    height: 500px;
    width: 300px !important;
    align-self: auto;
    margin: auto;
    border: 1px solid black;
    border-radius: 30px;
    width: fit-content;
    align-items: end;
}

input {
    height: 60px;
    font-size: 20px;
    text-align: right;
    padding-right: 10px;
    border: 1px solid black;
    border-radius: 30px !important;
}

.btn {
    height: 60px;
    font-size: 20px;
    border: 1px solid black;
    border-radius: 50%;
}